<template>
  <ellipse :cx=x :cy=y rx="4" ry="4" fill="url(#grad1)" />
</template>

<script>
  import store from '../store'
  import vueinterval from 'vue-interval/dist/VueInterval.common'

  export default {
    name: 'Ball',
    computed: {
      x () {
        return store.state.ballx
      },
      y () {
        return store.state.bally
      }
    },
    mixins: [vueinterval],
    methods: {
      // eslint-disable-next-line
      INTERVAL__1$moveBall () {
        store.commit('moveBall')
      }
    },
    mounted () {
      store.commit('trapBall')
    }
  }
</script>
