<template>
 <rect :x=x :y=y rx="1" ry="2" :width=width :height=height style="fill:blue;stroke:black;stroke-width:0.5;opacity:1.0" />
</template>

<script>
  import store from '../store'

  export default {
    name: 'Bar',
    computed: {
      width () {
        return store.getters.barWidth
      },
      height () {
        return store.getters.barHeight
      },
      y () {
        return store.state.vboxHeight - store.getters.barHeight
      },
      x () {
        return this.basex + store.state.barx
      }
    },
    data () {
      return {
        basex: 0
      }
    }
  }
</script>
