<template>
  <rect :x=x :y=y rx="1" ry="2" :width=width :height=height :style=style />
</template>

<script>
  import store from '../store'

  export default {
    name: 'Block',
    props: ['row', 'column'],
    computed: {
      style () {
        let hits = store.state.blockState[this.row][this.column]
        if (hits === 0) {
          return 'opacity:0.0'
        }
        let color =
          hits === 1 ? 'pink' : hits === 2 ? 'green' : hits === 3 ? 'yellow' : 'orange'
        return 'fill:' + color + ';stroke:black;stroke-width:0.5;opacity:1.0'
      },
      x () {
        return (this.column * store.state.vboxWidth / 9) + store.state.vboxWidth / 18
      },
      y () {
        return (this.row * store.getters.barHeight)
      },
      width () {
        return store.state.vboxWidth / 9
      },
      height () {
        return store.getters.barHeight
      }
    }
  }
</script>
