<template>
  <g>
    <Block v-for="column in columns" :row=row :column=column :key=column />
  </g>
</template>

<script>
  import Block from './Block'

  const numberOfColumns = 8

  const range = max => Array(max).fill().map((_, idx) => idx)

  export default {
    name: 'BlockRow',
    props: ['row'],
    components: {
      Block
    },
    data () {
      return {
        columns: range(numberOfColumns)
      }
    }
  }
</script>
