<template>
  <g>
    <BlockRow v-for="row in rows" :row=row :key=row />
  </g>
</template>

<script>
  import BlockRow from './BlockRow'

  const numberOfRows = 10
  const range = max => Array(max).fill().map((_, idx) => idx)

  export default {
    name: 'BlockGrid',
    components: {
      BlockRow
    },
    data () {
      return {
        rows: range(numberOfRows)
      }
    }
  }
</script>
