<template>
  <rect :x="0" y="0" :width=width :height=height style="opacity:0" class="interact"/>
</template>

<script>
  import interact from 'interactjs'
  import store from '../store'

  export default {
    name: 'PhantomBar',
    mounted () {
      interact('.interact')
      .draggable({
        inertia: true,
        restrict: {
          endOnly: false,
          elementRect: {
            top: 0,
            left: 0,
            bottom: 0,
            right: 0
          }
        },
        autoScroll: true,
        onmove: (event) => {
          const svg = document.getElementById('svg')
          const m = svg.getScreenCTM()
          let p = svg.createSVGPoint()
          p.x = store.state.barx
          p = p.matrixTransform(m)
          p.x += event.dx
          p = p.matrixTransform(m.inverse())
          const x = p.x
          if (x > 0 && x <= store.state.vboxWidth - ((store.state.vboxWidth / 9) * store.state.barWidthMultiplier)) {
            store.commit('setx', x)
          }
        }
      })

      interact('.interact')
        .on('tap', event => {
          store.commit('releaseBall')
        })
    },
    computed: {
      width () {
        return store.state.vboxWidth
      },
      height () {
        return store.state.vboxHeight
      }
    }
  }
  </script>
