<template>
  <svg  id="svg" :viewBox=viewBox width="100vw" height="90vh" preserveAspectRatio="xMidYMid" >
    <defs>
      <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
        <stop offset="0%" style="stop-color:rgb(255,255,255);
      stop-opacity:0" />
        <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
      </radialGradient>
    </defs>
    <BlockGrid />
    <Ball />
    <Bar />
    <PhantomBar />
  </svg>
</template>

<script>
import PhantomBar from './components/PhantomBar.vue'
import Bar from './components/Bar.vue'
import Ball from './components/Ball.vue'
import BlockGrid from './components/BlockGrid.vue'
import store from './store'

export default {
  name: 'app',
  components: {
    PhantomBar,
    Bar,
    Ball,
    BlockGrid
  },
  data () {
    return {
      vboxWidth: store.state.vboxWidth,
      vboxHeight: store.state.vboxHeight
    }
  },
  computed: {
    viewBox () {
      return '0 0 ' + this.vboxWidth + ' ' + this.vboxHeight
    }
  }
}
</script>
